.jumbotron{
    background-color: #368A3A;
    color: white;
    font-family: 'Coda Caption', sans-serif;
    
}

.content{
    background-image: url("../images/sv2.jpg");
}

 h2, h3{
    color: rgb(189, 247, 197);
    font-size: 32px;
    font-family: 'Coda Caption', sans-serif;
    text-shadow:
		-5px -4px 0 rgb(10, 112, 40),
		5px -4px 0 rgb(10, 112, 40),
		-5px 4px 0 rgb(10, 112, 40),
		5px 4px 0 rgb(10, 112, 40)
}